body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  margin-bottom: 2rem;
}

header em {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
}

header a {
  color: inherit
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
