body {
  color: rgb(0, 0, 0, 0.87);
  line-height: 1.5;
  padding: 4rem 1rem;
}

body > div {
  max-width: 45rem;
  margin: 0 auto;
}

header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

header em {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
}

header a {
  color: inherit;
  text-decoration: none;
}

.language-switcher {
  position: relative;
}

.language-switcher ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-toggle {
  background: none;
  border: 1px solid #ccc;
  padding: .5rem .7rem .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-toggle > svg {
  width: 1.2rem;
  height: 1.2rem;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: #f5f5f5;
  outline: none;
}

.dropdown-menu {
  background-color: #fff;
  display: none;
  position: absolute;
  min-height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-width: 100%;
}

.language-switcher:hover .dropdown-menu,
.language-switcher:focus-within .dropdown-menu {
  display: block;
}

.dropdown-item a {
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-item:first-child:hover {
  border-radius: 4px 4px 0 0;
}

.dropdown-item:last-child:hover {
  border-radius: 0 0 4px 4px;
}

.dropdown-item:only-child:hover {
  border-radius: 4px;
}

main {
  margin-bottom: 3rem;
}

main li {
  margin: .3rem 0;
}

.alert {
  padding: .3rem 0rem .2rem 1rem;
  margin: 0 0 1rem 0;
}

.alert p:last-child {
  margin-bottom: 0;
}

.alert-heading {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 0;
}

.alert-note {
  border-left: 3px solid rgb(9, 105, 218);
}

.alert-note .alert-heading {
  color: rgb(9, 105, 218);
}

.lucide--note {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 16v-4m0-4h.01'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.alert-tip {
  border-left: 3px solid rgb(26, 127, 55);
}

.alert-tip .alert-heading {
  color: rgb(26, 127, 55);
}

.lucide--tip {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 14c.2-1 .7-1.7 1.5-2.5c1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5c.7.7 1.3 1.5 1.5 2.5m0 4h6m-5 4h4'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.alert-important {
  border-left: 3px solid rgb(130, 80, 223);
}

.alert-important .alert-heading {
  color: rgb(130, 80, 223);
}

.lucide--important {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2zm-9-8v2m0 4h.01'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.alert-warning {
  border-left: 3px solid rgb(154, 103, 0);
}

.alert-warning .alert-heading {
  color: rgb(154, 103, 0);
}

.lucide--warning{
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m21.73 18l-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3M12 9v4m0 4h.01'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.alert-caution {
  border-left: 3px solid rgb(207, 34, 46);
}

.alert-caution .alert-heading {
  color: rgb(207, 34, 46);
}

.lucide--caution {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 16h.01M12 8v4m3.312-10a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

:where(iframe, img, input, video, select, textarea) {
  height: auto;
  max-width: 100%;
  border-radius: 4px;
}

.components {
  columns: 2;
}

@media (min-width: 640px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
